In [1]:
import pandas as pd
import requests

# Load the dataset (CSV format) directly from OWID's link
df = pd.read_csv(
    "https://ourworldindata.org/grapher/tariff-rate-applied-weighted-mean-all-products.csv?v=1&csvType=full&useColumnShortNames=false",
    storage_options={'User-Agent': 'Our World In Data data fetch/1.0'}
)

# Load the associated metadata (JSON format)
metadata = requests.get(
    "https://ourworldindata.org/grapher/tariff-rate-applied-weighted-mean-all-products.metadata.json?v=1&csvType=full&useColumnShortNames=false"
).json()

In [2]:
df.head()

,Entity,Code,Year,"Tariff rate, applied, weighted mean, all products (%)"
0,Afghanistan,AFG,2004,4.01
1,Afghanistan,AFG,2006,7.79
2,Afghanistan,AFG,2007,7.80
3,Afghanistan,AFG,2008,5.00
4,Afghanistan,AFG,2012,5.47

In [3]:
df.columns

Index(['Entity', 'Code', 'Year',
       'Tariff rate, applied, weighted mean, all products (%)'],
      dtype='object')

In [4]:
df.to_csv("tariff_data.csv", index=False)

In [20]:
import pandas as pd
df = pd.read_csv('data/inflation.csv')
print(df.head())

                  Country Name Country Code  \
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

                          Indicator Name  Indicator Code  1960  1961  1962  \
0  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG   NaN   NaN   NaN
1  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG   NaN   NaN   NaN
2  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG   NaN   NaN   NaN
3  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG   NaN   NaN   NaN
4  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG   NaN   NaN   NaN

   1963  1964  1965  ...      2014      2015       2016       2017       2018  \
0   NaN   NaN   NaN  ...  0.421441  0.474764  -0.931196  -1.028282   3.626041
1   NaN   NaN   NaN  ...  5.370290  5.245878   6.571396   6.399343   4.720805
2   NaN   NaN   NaN  ...  4.673996 -0.661709   4.383892   4.975952   0.626149
3   NaN   NaN   NaN  ...  1.768436  2.130817   1.487416   1.725486   1.784050
4   NaN   NaN   NaN  ...  7.280387  9.355972  30.694415  29.844480  19.628938

        2019       2020       2021       2022       2023
0   4.257462        NaN        NaN        NaN        NaN
1   4.653665   5.405162   7.240978  10.773751   7.126975
2   2.302373        NaN        NaN        NaN        NaN
3   1.983092   2.490378   3.745700   7.949251   4.953050
4  17.080954  22.271539  25.754295  21.355290  13.644102

[5 rows x 68 columns]

In [21]:
# Checking for missing values
print(df.isnull().sum())

# Handling missing values by filling NaN with the median (for numerical columns)
df = df.apply(lambda col: col.fillna(col.median()) if col.dtype in ['float64', 'int64'] else col, axis=0)

# Standardizing column names (convert to lowercase and replace spaces with underscores)
df.columns = df.columns.str.lower().str.replace(' ', '_')

# Ensuring the 'Country Name' and 'Country Code' are of type string
df['country_name'] = df['country_name'].astype(str)
df['country_code'] = df['country_code'].astype(str)

# Check the cleaned data
print(df.head())

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960              196
                 ...
2019               38
2020               44
2021               44
2022               45
2023               55
Length: 68, dtype: int64
                  country_name country_code  \
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

                          indicator_name  indicator_code      1960      1961  \
0  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG  1.945749  2.102977
1  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG  1.945749  2.102977
2  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG  1.945749  2.102977
3  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG  1.945749  2.102977
4  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG  1.945749  2.102977

       1962      1963      1964      1965  ...      2014      2015       2016  \
0  2.669962  2.898982  3.328408  3.410026  ...  0.421441  0.474764  -0.931196
1  2.669962  2.898982  3.328408  3.410026  ...  5.370290  5.245878   6.571396
2  2.669962  2.898982  3.328408  3.410026  ...  4.673996 -0.661709   4.383892
3  2.669962  2.898982  3.328408  3.410026  ...  1.768436  2.130817   1.487416
4  2.669962  2.898982  3.328408  3.410026  ...  7.280387  9.355972  30.694415

        2017       2018       2019       2020       2021       2022       2023
0  -1.028282   3.626041   4.257462   1.938631   3.672226   7.967574   5.869104
1   6.399343   4.720805   4.653665   5.405162   7.240978  10.773751   7.126975
2   4.975952   0.626149   2.302373   1.938631   3.672226   7.967574   5.869104
3   1.725486   1.784050   1.983092   2.490378   3.745700   7.949251   4.953050
4  29.844480  19.628938  17.080954  22.271539  25.754295  21.355290  13.644102

[5 rows x 68 columns]

In [22]:
import pandas as pd

# Load the data
df = pd.read_csv('data/inflation.csv')

# Checking for missing values
print("Missing values in each column:\n", df.isnull().sum())

# Handling missing values by filling NaN with the median (for numerical columns)
df = df.apply(lambda col: col.fillna(col.median()) if col.dtype in ['float64', 'int64'] else col, axis=0)

# Standardizing column names (convert to lowercase and replace spaces with underscores)
df.columns = df.columns.str.lower().str.replace(' ', '_')

# Ensuring the 'Country Name' and 'Country Code' are of type string
df['country_name'] = df['country_name'].astype(str)
df['country_code'] = df['country_code'].astype(str)

# Check the cleaned data
print("Cleaned Data:\n", df.head())

Missing values in each column:
 Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960              196
                 ...
2019               38
2020               44
2021               44
2022               45
2023               55
Length: 68, dtype: int64
Cleaned Data:
                   country_name country_code  \
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

                          indicator_name  indicator_code      1960      1961  \
0  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG  1.945749  2.102977
1  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG  1.945749  2.102977
2  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG  1.945749  2.102977
3  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG  1.945749  2.102977
4  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG  1.945749  2.102977

       1962      1963      1964      1965  ...      2014      2015       2016  \
0  2.669962  2.898982  3.328408  3.410026  ...  0.421441  0.474764  -0.931196
1  2.669962  2.898982  3.328408  3.410026  ...  5.370290  5.245878   6.571396
2  2.669962  2.898982  3.328408  3.410026  ...  4.673996 -0.661709   4.383892
3  2.669962  2.898982  3.328408  3.410026  ...  1.768436  2.130817   1.487416
4  2.669962  2.898982  3.328408  3.410026  ...  7.280387  9.355972  30.694415

        2017       2018       2019       2020       2021       2022       2023
0  -1.028282   3.626041   4.257462   1.938631   3.672226   7.967574   5.869104
1   6.399343   4.720805   4.653665   5.405162   7.240978  10.773751   7.126975
2   4.975952   0.626149   2.302373   1.938631   3.672226   7.967574   5.869104
3   1.725486   1.784050   1.983092   2.490378   3.745700   7.949251   4.953050
4  29.844480  19.628938  17.080954  22.271539  25.754295  21.355290  13.644102

[5 rows x 68 columns]

In [23]:
# Summary statistics for numerical columns
print("Summary Statistics:\n", df.describe())

# If we want to group by 'Country Name' and calculate the mean inflation rates for each country over all years:
country_inflation_mean = df.groupby('country_name').mean()

print("Average Inflation by Country:\n", country_inflation_mean.head())

# Extracting inflation rates for a specific year (e.g., 2020)
inflation_2020 = df[['country_name', 'country_code', '2020']].dropna()

print("Inflation Data for 2020:\n", inflation_2020.head())

Summary Statistics:
              1960        1961        1962        1963        1964        1965  \
count  266.000000  266.000000  266.000000  266.000000  266.000000  266.000000
mean     2.369231    2.478760    3.215454    3.718999    4.200218    4.956349
std      3.539584    2.413982    8.031397    9.099307    7.579479   19.035086
min     -5.030042   -3.900000   -3.846154   -2.694655   -4.535654   -3.878976
25%      1.945749    2.102977    2.669962    2.898982    3.328408    3.410026
50%      1.945749    2.102977    2.669962    2.898982    3.328408    3.410026
75%      1.945749    2.102977    2.669962    2.898982    3.328408    3.410026
max     39.590444   22.747264  131.397850  145.910781  108.994709  306.763110

              1966        1967        1968        1969  ...        2014  \
count   266.000000  266.000000  266.000000  266.000000  ...  266.000000
mean      8.692952    3.939910    4.251370    3.771968  ...    3.527522
std      69.573729    8.730466   11.361774    2.606606  ...    5.282486
min      -1.361868   -8.422486  -10.033895   -4.339051  ...   -1.509245
25%       3.815659    3.016948    3.005366    3.367003  ...    1.089442
50%       3.815659    3.016948    3.005366    3.367003  ...    2.559749
75%       3.815659    3.016948    3.005366    3.367003  ...    4.402253
max    1136.254112  106.000000  128.843042   21.763295  ...   62.168650

             2015        2016        2017        2018        2019        2020  \
count  266.000000  266.000000  266.000000  266.000000  266.000000  266.000000
mean     3.489250    5.671738    4.482344    3.824133    4.393885    5.944454
std      9.311291   28.376910   12.194723    6.965653   17.024466   35.974543
min     -3.749145   -3.078218   -1.537100   -2.814698   -3.233389   -2.595243
25%      0.457711    0.573948    1.586026    1.789017    1.437925    0.726897
50%      1.681312    1.712596    2.450534    2.527344    2.239800    1.938631
75%      3.844243    3.759097    4.314288    3.610640    2.895228    3.362538
max    121.738085  379.999586  187.851630   83.501529  255.304991  557.201817

             2021        2022        2023
count  266.000000  266.000000  266.000000
mean     6.855281   10.905473    8.303039
std     24.830486   15.840209   15.156594
min     -0.772844   -6.687321   -1.035301
25%      2.477297    6.291672    4.323050
50%      3.672226    7.967574    5.869104
75%      4.694280    9.639314    7.350834
max    359.093041  171.205491  221.341644

[8 rows x 64 columns]

TypeError: agg function failed [how->mean,dtype->object]

In [24]:
# Select only numeric columns
numeric_cols = df.select_dtypes(include=['number'])

# Group by 'country_name' and calculate the mean for each year
country_inflation_mean = df.groupby('country_name')[numeric_cols.columns].mean()

print("Average Inflation by Country:\n", country_inflation_mean.head())

Average Inflation by Country:
                                  1960      1961      1962      1963      1964  \
country_name
Afghanistan                  1.945749  2.102977  2.669962  2.898982  3.328408
Africa Eastern and Southern  1.945749  2.102977  2.669962  2.898982  3.328408
Africa Western and Central   1.945749  2.102977  2.669962  2.898982  3.328408
Albania                      1.945749  2.102977  2.669962  2.898982  3.328408
Algeria                      1.945749  2.102977  2.669962  2.898982  3.328408

                                 1965      1966      1967      1968      1969  \
country_name
Afghanistan                  3.410026  3.815659  3.016948  3.005366  3.367003
Africa Eastern and Southern  3.410026  3.815659  3.016948  3.005366  3.367003
Africa Western and Central   3.410026  3.815659  3.016948  3.005366  3.367003
Albania                      3.410026  3.815659  3.016948  3.005366  3.367003
Algeria                      3.410026  3.815659  3.016948  3.005366  3.367003

                             ...      2014      2015      2016      2017  \
country_name                 ...
Afghanistan                  ...  4.673996 -0.661709  4.383892  4.975952
Africa Eastern and Southern  ...  5.370290  5.245878  6.571396  6.399343
Africa Western and Central   ...  1.768436  2.130817  1.487416  1.725486
Albania                      ...  1.625865  1.896174  1.275432  1.986661
Algeria                      ...  2.916927  4.784447  6.397695  5.591116

                                 2018      2019      2020      2021  \
country_name
Afghanistan                  0.626149  2.302373  1.938631  3.672226
Africa Eastern and Southern  4.720805  4.653665  5.405162  7.240978
Africa Western and Central   1.784050  1.983092  2.490378  3.745700
Albania                      2.028060  1.411091  1.620887  2.041472
Algeria                      4.269990  1.951768  2.415131  7.226063

                                  2022      2023
country_name
Afghanistan                   7.967574  5.869104
Africa Eastern and Southern  10.773751  7.126975
Africa Western and Central    7.949251  4.953050
Albania                       6.725203  4.759764
Algeria                       9.265516  9.322174

[5 rows x 64 columns]

In [25]:

defl = pd.read_csv('data/deflation.csv')
print(defl.head())

                  Country Name Country Code  \
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

                               Indicator Name  Indicator Code  1960  1961  \
0  GDP deflator (base year varies by country)  NY.GDP.DEFL.ZS   NaN   NaN
1  GDP deflator (base year varies by country)  NY.GDP.DEFL.ZS   NaN   NaN
2  GDP deflator (base year varies by country)  NY.GDP.DEFL.ZS   NaN   NaN
3  GDP deflator (base year varies by country)  NY.GDP.DEFL.ZS   NaN   NaN
4  GDP deflator (base year varies by country)  NY.GDP.DEFL.ZS   NaN   NaN

   1962  1963  1964  1965  ...        2014        2015         2016  \
0   NaN   NaN   NaN   NaN  ...  103.958897  111.060628   109.946912
1   NaN   NaN   NaN   NaN  ...         NaN         NaN          NaN
2   NaN   NaN   NaN   NaN  ...   92.566839   94.832470    92.748502
3   NaN   NaN   NaN   NaN  ...         NaN         NaN          NaN
4   NaN   NaN   NaN   NaN  ...  890.354809  859.028696  1046.075628

          2017         2018         2019         2020         2021  \
0   106.452616   110.138037   116.765942   115.654945   109.973252
1          NaN          NaN          NaN          NaN          NaN
2    94.977857    96.945179   103.267440   110.457896   113.593791
3          NaN          NaN          NaN          NaN          NaN
4  1282.640547  1643.923107  1959.342696  2170.228813  3012.792411

          2022         2023
0   113.445414   121.056990
1          NaN          NaN
2   124.278695   127.959400
3          NaN          NaN
4  3425.864147  4029.485573

[5 rows x 68 columns]

In [26]:
import pandas as pd

# Read both datasets
infl = pd.read_csv('data/inflation.csv', index_col=0)
defl = pd.read_csv('data/deflation.csv')

# Drop unnecessary columns from deflator data
defl_clean = defl.drop(columns=['Country Code', 'Indicator Name', 'Indicator Code'])

# Melt inflation dataframe (index is already 'country_name')
infl_melted = infl.reset_index().melt(id_vars='country_name', var_name='Year', value_name='Inflation')

# Melt deflator dataframe
defl_melted = defl_clean.melt(id_vars='Country Name', var_name='Year', value_name='GDP_Deflator')

# Rename for consistency
defl_melted = defl_melted.rename(columns={'Country Name': 'country_name'})

# Merge both on 'country_name' and 'Year'
merged = pd.merge(infl_melted, defl_melted, on=['country_name', 'Year'], how='inner')

# Convert year column to int for clarity
merged['Year'] = merged['Year'].astype(int)

# Preview
print(merged.head())

KeyError: "The following id_vars or value_vars are not present in the DataFrame: ['country_name']"

In [27]:
print(infl.reset_index().columns)

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023'],
      dtype='object')

In [28]:
# Reset index and rename the column properly
infl_reset = infl.reset_index()

# Rename 'index' to 'country_name' if needed
if 'index' in infl_reset.columns:
    infl_reset = infl_reset.rename(columns={'index': 'country_name'})

# Now melt the inflation dataframe
infl_melted = infl_reset.melt(id_vars='country_name', var_name='Year', value_name='Inflation')

# Clean deflator data
defl_clean = defl.drop(columns=['Country Code', 'Indicator Name', 'Indicator Code'])

# Melt deflator
defl_melted = defl_clean.melt(id_vars='Country Name', var_name='Year', value_name='GDP_Deflator')
defl_melted = defl_melted.rename(columns={'Country Name': 'country_name'})

# Merge both on country and year
merged = pd.merge(infl_melted, defl_melted, on=['country_name', 'Year'], how='inner')

# Convert year to integer
merged['Year'] = merged['Year'].astype(int)

# Preview result
print(merged.head())

KeyError: "The following id_vars or value_vars are not present in the DataFrame: ['country_name']"

In [29]:
# Reset and rename first column to 'country_name'
infl_reset = infl.reset_index()
infl_reset.columns.values[0] = 'country_name'

# Melt the inflation data
infl_melted = infl_reset.melt(id_vars='country_name', var_name='Year', value_name='Inflation')

# Clean and melt deflator
defl_clean = defl.drop(columns=['Country Code', 'Indicator Name', 'Indicator Code'])
defl_melted = defl_clean.melt(id_vars='Country Name', var_name='Year', value_name='GDP_Deflator')
defl_melted = defl_melted.rename(columns={'Country Name': 'country_name'})

# Merge both datasets
merged = pd.merge(infl_melted, defl_melted, on=['country_name', 'Year'], how='inner')
merged['Year'] = merged['Year'].astype(int)

# Preview
print(merged.head())

                  country_name  Year Inflation  GDP_Deflator
0                        Aruba  1960       NaN           NaN
1  Africa Eastern and Southern  1960       NaN           NaN
2                  Afghanistan  1960       NaN           NaN
3   Africa Western and Central  1960       NaN           NaN
4                       Angola  1960       NaN           NaN

In [32]:
print(merged.head())

                  country_name  Year Inflation  GDP_Deflator
0                        Aruba  1960       NaN           NaN
1  Africa Eastern and Southern  1960       NaN           NaN
2                  Afghanistan  1960       NaN           NaN
3   Africa Western and Central  1960       NaN           NaN
4                       Angola  1960       NaN           NaN

In [31]:
                  merged_cleaned = merged.dropna(subset=['Inflation', 'GDP_Deflator'], how='any')

In [33]:
merged_cleaned = merged_cleaned[merged_cleaned['Year'] >= 2000]

In [34]:
print(merged.head())

                  country_name  Year Inflation  GDP_Deflator
0                        Aruba  1960       NaN           NaN
1  Africa Eastern and Southern  1960       NaN           NaN
2                  Afghanistan  1960       NaN           NaN
3   Africa Western and Central  1960       NaN           NaN
4                       Angola  1960       NaN           NaN

In [ ]:
notthin